@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  --primary-color: #1A181B;
  --secondary-color: #8755d6;
  margin: 67px 0 0 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
  font-weight: 400;
}

header {
  margin: 0 0 0 28px;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 28px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 13.5px;
}

a:hover {
  color: var(--secondary-color);
}

.btn-secondary {
  font-size: 13.5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  padding: 7px 30px;
  align-self: center;
}

.btn-secondary:hover {
  cursor: pointer;
  transition: 0.1s;
  color: #5f5f5f;
  border-color: var(--secondary-color);
}

.btn-primary {
  font-size: 13.5px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
  padding: 7px 30px;
  align-self: center;
}

.btn-primary:hover {
  cursor: pointer;
  transition: 0.1s;
  border-color: var(--secondary-color);
}

.logo {
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.second-nav div, .third-nav div {
  display: flex;
  gap: 28px;
}

.fourth-nav .logo {
  width: 188px;
}

@media (max-width: 900px) {
  header {
    text-align: center;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  nav .nav-links {
    margin-top: 0;
  }

  .second-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .third-nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .fourth-nav .nav-links {
    margin: 18px 0 0 0;
  }

  .fourth-nav .logo {
    width: unset;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
  }

  .cards-container {
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .buttons button {
    margin: 0;
  }
}